.col-md-8.offset-2
  %h2.mb-3
    = octicon 'file-directory', height: 30
    = " #{ @collection.name}"
    %a= link_to "Delete collection", collection_path(@collection), method: :delete,
        class: "btn btn-outline-danger float-right"
  - @notes.each do |note|
    = render 'shared/note_card', note: note, collection: nil
