.col-md-8.col-sm-10.offset-2
  %h1.text-center New Note
  = simple_form_for @note, url: notes_path do |f|
    %div
      = f.input :title, autofocus: true, required: false
    %div
      = f.input :body, :as => :text, :input_html => { 'rows' => 10}, required: false
    %div
      = f.collection_select :collection, current_user.collections, :id, :name, include_blank: false
    %div
      = f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name,input_html: {multiple: true}
    %div
      = f.submit "Add note", class: 'btn btn-lg btn-primary float-right'

