<%= form_for @note do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

   <div>
    <%= f.label :collection %><br>
    <%= f.collection_select :collection, current_user.collections, :id, :name, include_blank: false %>
  </div>

  <div>
    <%= f.submit "Add note" %>
  </div>
<% end %>
