.col-md-8.offset-2
  %h4= "Q: #{@note.title}"
  %hr
  %p= markdown(@note.body)
  %hr
  = render 'shared/collection_label', collection: @note.collection
  - @note.tags.each do |tag|
    = render 'shared/tag', tag: tag
  %div.mb-5

