.col-md-8.col-sm-10.offset-2
  %h2.col-md-8 Sign up
  = form_for @user do |f|
    %div.form-group.col-md-8
      = f.text_field :username, autofocus: true, class: 'form-control', placeholder: 'Username'
    %div.form-group.col-md-8
      = f.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email'
    %div.form-group.col-md-8
      = f.password_field :password, class: 'form-control', placeholder: 'Password'
    %div.form-group.col-md-8
      = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation'
    %div.form-group.col-md-8
      = f.submit "Sign up", class: 'btn btn-primary'
