%nav.navbar.navbar-expand-lg.navbar-light{style: "background-color: #e3f2fd;"}
  %ul.navbar-nav.mx-auto
    %li.nav-item
      %a= link_to octicon('note'), notes_path, class: "mr-5"
    %li.nav-item
      %a= link_to octicon('file-directory'), collections_path, class: "mr-5"

    %li.nav-item
      %a= link_to octicon('tag'), tags_path, class: "mr-5"

    %li.nav-item
      - if current_user
        %a= link_to octicon('sign-out') , login_path,  class: "mr-5"
      - else
        %a= link_to octicon('sign-in') , login_path,  class: "mr-5"
