!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Qnotes
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      / logged in
      = "Hi, #{current_user.username}"
      | #{link_to 'Home', root_path} | #{link_to 'Log out', logout_path, method: :delete}
      %hr/
    - if notice
      = notice
    - if alert
      = alert
    = yield

  :javascript
    $(document).on('ready page:load', function () {
      $('#note_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });

